.sharedServersTotal {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	width: 100%;
}

.rightSideOTD .serverSettingsButton{
    cursor: pointer;
}
.sharedServerUser{
    display: flex;
    gap:0.5rem;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 400;
}
.sharedUserPFP{
    height:2.5rem;
    border-radius:50%;
}

.noShared{
    font-size: 1.3rem;
    color:indianred;
}
.sharedServerButtons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}