.loadingInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loaderMain{
    font-size: 5rem;
     color:goldenrod;
    

}
.loaderDesc{
    font-size: 3rem;
   color: white;
}

.loader {
  border: 64px solid #f3f3f3; /* Light grey */
  border-top: 64px solid #29c388; /* Blue */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}