.bcgFull{
    position:fixed;
    top:-18px;
    z-index:2;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height:105vh;
    width:100vw;
    background-color:rgba(32, 29, 29, 0.95)
}
.welcomeText{
    font-size: 2.7rem;
}
.welcomeDesc{
    font-size: 2rem;
}
.loginInner{
    color:rgb(36, 26, 28);
    background-color:rgb(221, 235, 241);
    padding:3rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:1.5rem;
    box-shadow: 1px 4px 2px rgb(10, 10, 10);
}
.projectName{
    color:rgb(102, 89, 138);
}
