.bcgFull{
    position:fixed;
    top:-18px;
    z-index:2;
    display: flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    height:105vh;
    width:100vw;
    background-color:rgba(32, 29, 29, 0.95)
}
.welcomeText{
    font-size: 2.7rem;
}
.welcomeDesc{
    font-size: 2rem;
}
.loginInner{
    color:rgb(36, 26, 28);
    background-color:rgb(221, 235, 241);
    padding:3rem;
    border-radius: 2.5rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:1.5rem;
    box-shadow: 1px 4px 2px rgb(10, 10, 10);
}
.projectName{
    color:rgb(102, 89, 138);
}
.keyInput{
    height: 3rem;
	border-radius: 0.4rem;
	border: 2px inset rgb(211, 211, 211);
	padding: 0.2rem 0.5rem;
	font-weight: 600;
    font-size: 1.6rem;
    width:60%;
    background-color:rgb(255, 255, 255);
}

.keyInput:focus, .keyInput:focus-visible{
    outline: 3px solid rgb(64, 102, 173);
    border: 0px none rgb(211, 211, 211);
}