.serverList {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}
.serverTrackerWrapper {
	display: flex;
	align-items: center;
}
.trackingTotal {
	display: flex;
	flex-direction: row;
	border-radius: 0.7rem;
	height: auto;
	width: 550px;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 4px 2px rgb(10, 10, 10);
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.leftSide {
	height: 6.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.serverIcon {
	height: 100%;
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
}
.serverName {
	font-size: 1.3rem;
	margin-left:0.5rem;
	font-weight: 700;
}
.secondaryText {
	font-weight: 600;
	color: rgb(146, 146, 146);
}
.centerContainer {
	width: auto;
	/* background-color: rgb(255, 255, 255); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 1rem;
	margin-right: 2rem;
	gap: 0.3rem;
}

.statusCircle {
	max-width: 15px;
	max-height: 15px;
}

.status {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	margin-right: 1rem;

	border-radius: 1rem;
	gap: 0.8rem;
}
.statusText {
	font-weight: 600;
	font-size: 1rem;
}
.errorContainer {
	background-color: rgb(255, 168, 168);
}
.error {
	color: rgb(255, 31, 50);
}
.successContainer {
	background-color: rgb(167, 255, 189);
}
.success {
	color: rgb(1, 144, 68);
}
.warningContainer {
	background-color: rgb(255, 209, 148);
}
.warning {
	color: rgb(192, 112, 8);
}

.plusIcon {
	height: 100px;
	padding: 1rem;
	background-color: rgb(218, 218, 218);
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
	transition: all 0.125s ease-in-out;
}
.plusIcon:hover {
	background-color: rgb(130, 165, 230);
}

.addServerText {
	margin-right: 1rem;
	font-size: 1.3rem;
	color: rgb(95, 138, 218);
	transition: color 0.3s ease-in-out;
}
.addServerText:hover {
	color: rgb(24, 9, 36);
}

@media only screen and (max-width: 650px) {
	.trackingTotal {
		flex-direction: row;
		gap: 1rem;
		width: auto;
	}
	.centerContainer {
		display: none;
	}
}
.srWord {
	font-size: 1.4rem;
	color: rgb(23, 149, 118);
}
.srText {
	font-weight: 600;
	font-size: 1.1rem;
	color: rgb(61, 73, 110);
}

.newServerContainer {
	display: grid;
	grid-template-columns: 25% 75%;
	width: 550px;
	font-weight: 600;
	background-color: rgb(255, 255, 255);

	/* border: 2px solid black; */
	border-radius: 0.7rem;
	padding: 1rem 1rem;
	align-items: center;
	word-wrap: break-word;
	word-break: break-all;
	box-shadow: 1px 4px 2px rgb(10, 10, 10);
	row-gap: 1rem;
}
.newServerContainer > input {
	height: 3rem;
	border-radius: 0.4rem;
	border: 2px inset rgb(211, 211, 211);
	padding: 0.2rem 0.5rem;
	font-weight: 600;
	width: 100%;
}
.selected {
	background-color: rgb(39, 86, 161);
	color: white;
}

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #f05c74; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.buttonsServer {
	display: flex;
	/* gap: 1rem; */
	justify-content: space-between;
	width: 100%;
}

.serverRightSide{
	margin-right: 1rem;
}

.serverSettingsButton{
	display: flex;
	align-items: center;
	gap:0.5rem;
	font-size: 18px;
	font-weight: 600;
	width:max-content;
	background-color:rgb(88, 88, 88);
	padding:0.3rem 0.6rem;
	color:white;
	border-radius: 0.4rem;
}

.buttonWrapper{
	width:fit-content;
}

