.serverList {
	display: flex;
	flex-direction: column;
	gap: 0.9rem;
	width: 100%;
}
.servererWrapper {
	display: flex;
	align-items: center;
}
.trackingTotal {
	display: flex;
	flex-direction: row;
	border-radius: 0.7rem;
	height: auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 4px 2px rgb(10, 10, 10);
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: 100%;
}

.leftSide {
	height: 8em;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.serverIcon {
	height: 100%;
	border-top-left-radius: 0.7rem;
	border-bottom-left-radius: 0.7rem;
}
.serverName {
	font-size: 1.3rem;
	margin-left:0.5rem;
	font-weight: 700;
}
.secondaryText {
	font-weight: 600;
	color: rgb(146, 146, 146);
}
.centerContainer {

	/* background-color: rgb(255, 255, 255); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	padding: 1rem;
	margin-right: 2rem;
	gap: 0.3rem;
}





@media only screen and (max-width: 650px) {
	.trackingTotal {
		flex-direction: row;
		gap: 1rem;
		width: auto;
	}
	.centerContainer {
		display: none;
	}
}
.srWord {
	font-size: 1.4rem;
	color: rgb(23, 149, 118);
}
.srText {
	font-weight: 600;
	font-size: 1.1rem;
	color: rgb(61, 73, 110);
}

.newServerContainer {
	display: grid;
	grid-template-columns: 25% 75%;
	font-weight: 600;
	background-color: rgb(255, 255, 255);
	border-radius: 0.7rem;
	padding: 0.7rem 1rem;
	align-items: center;
	word-wrap: break-word;
	word-break: break-all;
	box-shadow: 1px 4px 2px rgb(10, 10, 10);
	row-gap: 1rem;
}
.newServerContainer > input {
	height: 4rem;
	border-radius: 0.4rem;
	border: 2px inset rgb(211, 211, 211);
	padding: 0.2rem 0.5rem;
	font-weight: 600;
	width: 100%;
}
.selected {
	background-color: rgb(39, 86, 161);
	color: white;
}


.buttonsServer {
	display: flex;
	justify-content: flex-start;
	/* width: 100%; */
	gap:2rem;
}

.serverRightSide{
	margin-right: 1rem;
}

.serverSettingsButton{
	display: flex;
	align-items: center;
	gap:0.5rem;
	font-size: 1.4rem;
	font-weight: 600;
	width:max-content;
	background-color:rgb(88, 88, 88);
	padding:0.3rem 0.6rem;
	color:white;
	border-radius: 0.4rem;
}

.buttonWrapper{
	width:fit-content;
}

